.pizza-modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */
  /*set x to the center*/
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
.hide-pop-up {
  display: none;
}
.pizza-modal-content {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  max-width: 1200px;
  background-color: black;
  margin: auto;
  border-radius: 1rem;

  padding: 20px;

  border: 1px solid var(--black-main);
  width: 100%;
}
.cart-header {
  display: flex;
}
.header-title {
  margin-left: auto;
}
.cart-closing-toggle {
  margin-left: auto;
}
.cart-closing-toggle :hover {
  color: var(--white-main);
  cursor: pointer;
}
