.panel-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;

  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}

.pizza-container {
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  height: 90%;
}
.pizza-container:hover {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 0px 20px var(--white-main);
}
.pizza-container:hover h2 {
  background-color: rgba(0, 0, 0, 1);
  color: var(--white-main);
  transition: color 0.5s;
}

.pizza-container:hover .pizza-photo {
  transform: scale(1.1);
  transition-duration: 1s;
}
.pizza-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.pizza-photo-container {
  height: 80%;
  overflow: hidden;
}
.pizza-photo {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.pizza-info-container {
  width: 100%;
  margin-bottom: 0.5rem;
}
.pizza-info-container h3 {
  margin-right: 0.5rem;
}
.pizza-rating {
  width: 50%;
}
.pizza-prize {
  width: 50%;
}
