.cart-ordered-pizza-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

/*oredered elements*/

.order-table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  padding: 0;
}
.sum-up h3 {
  color: var(--white-main);
}
.order-table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 25%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border-bottom: solid white;
  color: var(--red-main);
  background: var(--black-main);
}
.delete-order-bnt {
  clear: both;
  float: left;

  border-radius: 0.5rem;

  padding: 0.5rem;
  transition: all 0.2s ease;
}
.delete-order-bnt:hover {
  color: white;
  background-color: var(--red-main);
  /* box-shadow: 0px 0px 20px var(--white-main); */
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .order-table {
    display: flex;
    justify-content: center;
  }

  .order-table-cell {
    width: 100% !important;
    border: none;
  }
  .order-table-cell:nth-child(4n) {
    width: 100% !important;
    border-bottom: solid white;
  }

  .order-table-cell h3 {
    margin-left: 40%;
  }
}
