.pizza-modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */
  /*set x to the center*/
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.pizza-modal-content {
  max-width: 1200px;
  background-color: #fefefe;
  margin: auto;

  padding: 20px;

  border: 1px solid #888;
  width: 100%;
}
